server:
  port: 8085

spring:
  application:
    name: iot-service
  datasource:
    url: jdbc:postgresql://postgres:5432/parking
    username: parking
    password: parking
    driver-class-name: org.postgresql.Driver
    hikari:
      maximum-pool-size: 10

  sql:
    init:
      mode: always
      schema-locations: classpath:db/schema.sql
      data-locations: classpath:db/data.sql
      continue-on-error: false

  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: none
    show-sql: true

  rabbitmq:
    host: rabbitmq
    port: 5672
    username: guest
    password: guest

  data:
    redis:
      host: redis
      port: 6379

management:
  endpoints:
    web:
      exposure:
        include: health,info

app:
  tenant-header: X-Tenant-Id
  jwt:
    issuer: mingrencha
    # IMPORTANT: 32+ chars for HS256/HS384 etc
    secret: "change-me-change-me-change-me-change-me-1234"
